# dependencies
node_modules/

# build outputs
dist/
server_dist/
web-build/

# Expo
.expo/
expo-env.d.ts

# Native
ios/
android/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# environment variables
.env
.env*.local

# typescript
*.tsbuildinfo

# vercel
.vercel
